*{
  box-sizing: border-box;
}

body{
  background:#65abf0;
  color:#35526e;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.device{
  text-align: center;
}

.device span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.port{
  background:#83bdf0;
}

.port h3, .port ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.details{
  background:#f9feff;
}

/*form*/
.details form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.details form label{
  display:block;
}

.details form p{
  margin:0;
}

.details form .full{
  grid-column: 1 / 3;
}

.details form button, .details form input, .details form textarea{
  width:100%;
  padding:1em;
  border:1px solid #9099a1;
}

.details form button{
  background:#83bdf0;
  border:0;
  text-transform: uppercase;
}

.details form button:hover,.details form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.alert{
  text-align: center;
  padding:10px;
  background:#4fb64f;
  color:#fff;
  margin-bottom:10px;
  display:none;
}

@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .port h3, .port ul, .device{
    text-align: left;
  }
}